* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: 0;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    font-family: arial;
}

.price {
    color: black;
    font-size: 22px;
}

